<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.medicalappreminder_java" >


    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MedicalAppReminderJava" >
        <activity
            android:name=".MedicationModification.View.MedicationModification"
            android:exported="false" />
        <activity
            android:name=".AddMedicine.View.AddMedicine"
            android:label="@string/add_med"
            android:parentActivityName=".HomeScreen.View.HomeScreen"
            android:exported="false"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".HomeScreen.View.HomeScreen"
            android:exported="false" android:theme="@style/MyMaterialTheme"  android:screenOrientation="portrait"/>

		 <activity
            android:name=".DrugReminderScreen.View.DrugReminderActivity"
            android:exported="true" android:screenOrientation="portrait"
             android:parentActivityName=".HomeScreen.View.HomeScreen"/>
        <activity
            android:name=".NotificationDialog.NotificationDialogActivity"
            android:exported="true" />

  
        <activity
            android:name=".SignUp.View.SignUpActivity"
            android:exported="true" android:theme="@style/MyMaterialTheme"  android:screenOrientation="portrait"/>
        <activity
            android:name=".Login.LoginView.LoginActivity"
            android:exported="true" android:theme="@style/MyMaterialTheme"  android:screenOrientation="portrait"/>
        <activity
            android:name=".MainActivity"
            android:exported="true" android:theme="@style/MyMaterialTheme"  android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>